@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap');

.container{
    top: 0;
    position: relative;
    width: 100vw;
    height: 5rem;
    background: #053924;
    box-shadow: 7px 4px 30px 2px rgba(0, 58, 34, 0.3);
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0 0;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.dopa_mind{
    color: #f9f9f9;
    padding-left: 2.5rem;
    padding-right: 4rem;
}

.btn_info{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    padding: 1rem;
    color: #f9f9f9;
    text-align: left;
    text-decoration: none;
    letter-spacing: 0.08rem;
}

.no_link{
    text-decoration: none;
}
