@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;600&display=swap');

.sudoku {
  margin: 1rem 2.5rem;
  font-family: 'Poppins', sans-serif;
}

.sudoku_board {
  border: 1px solid #777;
}

.sudoku_row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(80% / 5);
  border-top: 1px solid #888;
  align-items: center;
  justify-content: center;
}

.sudoku_row:first-child {
  border-top: none;
}

.sudoku_row:last-child {
  border-bottom: none;
}

.sudoku_cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  width: calc(80% / 5);
  height: 10vh;
  background-color: #fff;
  border-left: 1px solid #888;
}

.sudoku_cell:first-child {
  border-left: none;
}

.sudoku_cell:last-child {
  border-right: none;
}

.sudoku_cell.is-given {
  background-color: #f9f9f9;
  border-color: #bbb;
}

.sudoku_cell.is-selected {
  background-color: #f0f0f0;
}

.sudoku_cell.is-invalid {
  color: #f00;
}

.sudoku_cell.is-filled::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
}

.sudoku_cell.is-filled.is-given::before {
  background-color: #aaa;
}

.sudoku_cell.is-filled.is-invalid::before {
  background-color: #f00;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon {
  height: 8vh;
}

.buttons_container {
  margin: 2rem 0 1rem 0;
}

.submit_btn {
  margin-right: 1.5rem;
  font-size: 1rem;
  background-color: #053924;
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
}

.submit_btn:hover {
  background-color: #0c8e5a;
}

.submit_btn:active {
  background-color: #0c8e5a;
  box-shadow: 2px 2px 5px #0539246f;
  transform: translateY(1px);
}

.reset_btn {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  border: none;
}

.reset_btn:hover {
  background-color: #bababa;
}

.reset_btn:active {
  background-color: #bababa;
  box-shadow: 2px 2px 5px #767676;
  transform: translateY(1px);
}
